extends ../layout.pug

block head
	title Managed Challenge

block content
	h1.board-title Managed Challenge
	summary.pv-5 #{__('Captcha')}
	div(
		id='cf-turnstile-widget'
		class='cf-turnstile'
		data-sitekey=`${turnstileSiteKey}`
		data-theme='dark'
		data-callback='recaptchaCallback'
		data-refresh-expired='manual'
		data-size='compact')
	noscript #{__('Please enable JavaScript to solve the captcha.')}
	summary.pv-5 Look at her, isn't she beautiful? Remember to respect black anthro women when you post.
	img(src="/file/aros.png" style="width:100%; height:auto;")
