h4.no-m-p #{__('Mod macros')}:
	.row.wrap
		select(id="modmacros")
			option(value='clear') #{__('--CLEAR--')}
			option(value='approvefiles') #{__('approve files')}
			option(value='denyfiles') #{__('deny files')}
			option(value='rule1') #{__('rule 1 ban (Illegal)')}
			option(value='rule2') #{__('rule 2 ban (NSFW)')}
			option(value='rule3') #{__('rule 3 ban (Hostility)')}
			option(value='rule4') #{__('rule 4 ban (Spam)')}
			option(value='rule5') #{__('rule 5 ban (Underage)')}
			option(value='banevasion') #{__('Ban evasion')}