mixin managenav(selected, upLevel)
	nav.pages
		if permissions.get(Permissions.VIEW_MANAGE)
			a(href=`${upLevel ? '../..' : '..'}/index.html`) [#{__('Go Back')}]
			|
			|
			if selected === 'index'
				include ../includes/boardpages.pug
				|  
			else
				a(href=`${upLevel ? '../' : ''}index.html` class=(selected === 'index' ? 'bold' : '')) [#{__('Mod Index')}]
				|  
			a(href=`${upLevel ? '../' : ''}catalog.html` class=(selected === 'catalog' ? 'bold' : '')) [#{__('Mod Catalog')}]
			|  
		if permissions.get(Permissions.MANAGE_GENERAL)
			a(href=`${upLevel ? '../' : ''}recent.html` class=(selected === 'recent' ? 'bold' : '')) [#{__('Recent')}]
			|
			|
			a(href=`${upLevel ? '../' : ''}reports.html` class=(selected === 'reports' ? 'bold' : '')) [#{__('Reports')}]
		if permissions.get(Permissions.MANAGE_BANS)
			|  
			a(href=`${upLevel ? '../' : ''}bans.html` class=(selected === 'bans' ? 'bold' : '')) [#{__('Bans')}]
		if permissions.get(Permissions.MANAGE_LOGS)
			|  
			a(href=`${upLevel ? '../' : ''}logs.html` class=(selected === 'logs' ? 'bold' : '')) [#{__('Logs')}]
		if permissions.get(Permissions.MANAGE_BOARD_SETTINGS)
			|  
			a(href=`${upLevel ? '../' : ''}filters.html` class=(selected === 'filters' ? 'bold' : '')) [#{__('Filters')}]
		if permissions.get(Permissions.MANAGE_BOARD_SETTINGS)
			|  
			a(href=`${upLevel ? '../' : ''}settings.html` class=(selected === 'settings' ? 'bold' : '')) [#{__('Settings')}]