extends ../layout.pug
include ../mixins/globalmanagenav.pug

block head
	title #{__('Trusted Users')}

block content
	h1.board-title #{__('Trusted Users')}
	br
	+globalmanagenav('trusted')
	hr(size=1)
	.form-wrapper.flexleft
		h4.no-m-p #{__('Search')}:
		form.form-post.mv-5(action=`/globalmanage/trusted.html` method='GET')
			input(type='hidden' value=page)
			.row
				.label #{__('Username')}
				input(type='text' name='username' value=username)
			input(type='submit', value=__('Filter'))
		h4.no-m-p #{__('Add User')}:
		form.form-post.mv-5(action=`/forms/global/addtrusted` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			.row
				.label #{__('Username')}
				input(type='text' name='username' required)
			input(type='submit', value=__('Add'))
	hr(size=1)
	h4.no-m-p #{__('Trusted Users')}:
	//-ew
	if trusted && trusted.length > 0
		form.form-post.nogrow(action=`/forms/global/deletetrusted` method='POST' enctype='application/x-www-form-urlencoded')
			input(type='hidden' name='_csrf' value=csrf)
			.table-container.flex-left.mv-5.text-center
				table
					tr
						th
						th #{__('Username')}
					for account in trusted
						tr
							td: input(type='checkbox' name='checkedtrusted' value=account._id)
							td #{account._id}
			.pages.mv-5
				include ../includes/pages.pug
			h4.no-m-p #{__('Delete Selected')}:
			input(type='submit', value='Delete')

	else
		p #{__('No results')}
