extends ../layout.pug
include ../mixins/catalogfile.pug

block head
	title #{meta.siteName}
	<link rel="canonical" href="https://anthro.foo/index.html"/>

block content
	br
	.flexcenter
		img.homepage-image(src="/file/nigerilogo.png" alt="A brown fox in a box, with the letter anthro.foo.")
	h1.board-title #{meta.siteName}
	.table-container.flex-center.mv-10.text-center
		table
			tr
				th.alt #{__('Welcome')}
			tr
				td
					pre.no-m-p
						| A hangout for anthro enthusiasts with a focus on SFW. 
						br
						a(href='/faq.html') README
						br
						| Sister sites: 
						a(href='https://anthrobooru.party') Anthrobooru
	if hotThreads && hotThreads.length > 0
		.table-container.flex-center.mv-10
			table#hotposts
				tr(colspan=3) 
				each post, i in hotThreads
					- const threadLink = `/${post.board}/thread/${post.postId}.html`
					tr.catalog-tile
						td.text-center
							a(href=`/${post.board}/index.html`)
							span.help(title=__('Hot Thread (%s)', post.score.toFixed(1))) 🔥
							|  #{post.replyposts}
						td
							if post.files && post.files.length > 0
								- const file = post.files[0]
								a(href=threadLink)
									img.file-thumb(src=`/file/thumb/${file.hash}${file.thumbextension}` width=file.geometry.thumbwidth height=file.geometry.thumbheight loading='lazy')
							else 
								p No thread file
						td 
							a.quote(href=threadLink)
								if post.subject
									| #{post.subject.substring(0,50)}#{post.subject.length > 50 ? '...' : ''}
									if post.nomarkup
										|  - 
								if post.nomarkup
									| #{post.nomarkup.substring(0,100)}#{post.nomarkup.length > 100 ? '...' : ''}
								if !post.nomarkup && !post.subject
									| >>>/#{post.board}/#{post.postId}