extends ../layout.pug
include ../mixins/boardtable.pug

block head
	title #{meta.siteName}
	<link rel="canonical" href="https://anthro.foo/index.html"/>

block content
	br
	.flexcenter
		img.logo(src="/file/desulogo.png" alt="A brown fox in a box, with the letter anthro.foo.")
	//- h1.board-title #{meta.siteName}
	.table-container.flex-center.mv-10.text-center
		table
			tr
				th.alt #{__('Welcome to anthro.foo!')}
			tr
				td
					pre.no-m-p
						p 
							| A SFW imageboard dedicated to creation, posting, and sharing of anthro and furry art. Intended as a fun hangout for our users.
						a(href='/rules.html') Rules
						| 
						a(href='/faq.html') FAQ
	if hotThreads && hotThreads.length > 0
		.table-container.flex-center.mv-10
			table#hotposts
				tr(colspan=3) 
				each post, i in hotThreads
					tr
						td.text-center
							span.help(title=__('Hot Thread (%s)', post.score.toFixed(1))) 🔥
							|  #{post.replyposts}
						td 
							- const threadLink = `/${post.board}/thread/${post.postId}.html#${post.postId}`;
							a.quote(href=threadLink)
								if post.subject
									| #{post.subject.substring(0,30)}#{post.subject.length > 30 ? '...' : ''}
									if post.nomarkup
										|  - 
								if post.nomarkup
									| #{post.nomarkup.substring(0,40)}#{post.nomarkup.length > 40 ? '...' : ''}
								if !post.nomarkup && !post.subject
									| >>>/#{post.board}/#{post.postId}
						td
							- const postedDate = new Date(post.date);
							time.right.reltime(datetime=postedDate.toISOString()) #{postedDate.toLocaleString(pageLanguage, {hourCycle:'h23'})}
	if boards && boards.length > 0
		+boardtable(true, false)
			each board in boards
				tr
					td 
						if board.settings.sfw === true
							span.left
								span.help(title=__('SFW')) &#x1F4BC;
								|  
						a(href=`/${board._id}/index.html`) /#{board._id}/ - #{board.settings.name}
					td #{board.settings.description}
					td.nobreak #{board.pph}
					td.nobreak #{board.ppd}
					td.nobreak #{board.ips}
					td.nobreak #{board.sequence_value-1}
			if localStats.total-localStats.unlisted > boards.length
				tr
					td(colspan=6)
						a.bold(href='/boards.html') More Boards
		.table-container.flex-center.mv-10.text-center
			table(style='max-width:450px')
				tr
					th #{__('Local Stats')}
				tr
					td
						pre.no-m-p
							| #{__('There are currently %s public boards, %s in total. Sitewide, %s posts have been made in the last day, %s in the last hour, %s in total.', localStats.total-localStats.unlisted, localStats.total, localStats.ppd, localStats.pph, localStats.posts)}
							| #{__('%s files are being served, totaling %s.', fileStats.count, fileStats.totalSizeString)}
